html body {
    background-color: rgba(176, 231, 228, 0.836);
    font-family: 'Jua', sans-serif;
    color: rgba(45, 58, 92, 0.836)
}
html .btn-primary {
    background: rgba(85, 161, 158, 0.836);
    color: rgba(45, 58, 92, 0.836);
    border-color: rgba(67, 129, 127, 0.836)
}

html .container{
    width: 300px;
}

.col {
    height: 100px;
}
.green{
    background-color: green;
    border: 6px solid darkgreen;
}
.red{
    background-color: red;
    border: 6px solid darkred;
}
.yellow{
    background-color: yellow;
    border: 6px solid goldenrod;
}
.blue{
    background-color:blue;
    border: 6px solid darkblue;
}

.green-light{
    background-color: rgb(86, 158, 86);
}
.red-light {
    background-color: rgb(245, 101, 101);
}

.yellow-light{
    background-color: rgb(245, 245, 158);
}

.blue-light{
    background-color:rgb(85, 85, 247);
}