html body {
    background-color: rgba(176, 231, 228, 0.836);
    font-family: 'Jua', sans-serif;
    color: rgba(45, 58, 92, 0.836)
}

html body header h1 {
    font-size: 3.5em;
}
html .btn-primary {
    background: rgba(85, 161, 158, 0.836);
    color: rgba(45, 58, 92, 0.836);
    border-color: rgba(67, 129, 127, 0.836)
}

html body .my-alerts {
    display: none;
}
html .container {
    width: 325px;
}

html body #header {
    width: 700px;
}

html body #footer {
    width: 500px;
}
.col {
    height: 150px;
}
.green{
    background-image: radial-gradient( rgb(87, 131, 87), rgb(23, 100, 23),darkgreen);
    border: 6px solid darkgreen;
}
.red{
    background-image: radial-gradient(rgb(209, 2, 2), rgb(151, 7, 7), darkred);
    border: 6px solid darkred;
}
.yellow{
    background-image: radial-gradient(rgb(236, 213, 77), rgb(206, 172, 20), goldenrod);
    border: 6px solid goldenrod;
}
.blue{
    background-image: radial-gradient(rgb(41, 23, 199), rgb(21, 9, 133), darkblue);
    border: 6px solid darkblue;
}

html .primary {
    border-radius: 50%;
}
.green-light{
    background-image: radial-gradient( rgb(143, 201, 143), rgb(35, 155, 35),rgb(3, 151, 3));
    border: 6px solid rgb(3, 151, 3);
}
.red-light{
    background-image: radial-gradient(rgb(231, 75, 75), rgb(199, 25, 25), rgb(165, 48, 48));
    border: 6px solid rgb(165, 48, 48);
}
.yellow-light{
    background-image: radial-gradient(rgb(236, 224, 152), rgb(207, 188, 104), rgb(206, 184, 89));
    border: 6px solid rgb(206, 184, 89);
}
.blue-light{
    background-image: radial-gradient(rgb(95, 79, 236), rgb(70, 59, 161), rgb(21, 9, 133));
    border: 6px solid rgb(29, 15, 156);
}